@font-face {
	font-family: 'MyWebFont';
	src: url('digital-7.ttf'); 
	}

*{ font-family: 'MyWebFont', Fallback, sans-serif; font-size: 25px;}

.calContainer{
	position: relative;
	height: 500px;
	width:  250px;
	background-color: lightgreen;
}

table{position: relative;
	margin: auto;
	padding: 1em;
	margin: auto;
	background-color: lightgreen;
	border-radius: 5px;
	box-shadow: 10px 10px 5px #888888;
	border: 1px solid gray;
}
 
 button{ height: 52.5px;
 		width: 75px;
 		border-radius: 20px;
 	}
 button:hover{ background-color: lightblue;
 }

 input {
 	width: 350px;
 	height: 50px;
	font-size: 30px;
	margin-bottom: .5em;
 }